$color_1: #fff;
$color_2: #ffffff;
$color_3: #ffffff;
$color_4: #222222;
$color_5: #1eacc7;
$color_6: #202020;
$color_7: red;
$color_8: #070716;
$color_9: #1aa3be;
$color_10: #ff5656;
$font-family_1: "Roboto", sans-serif;
$background-color_1: #212121;
$background-color_2: rgba(0, 0, 0, 0.6);
$background-color_3: black;
$background-color_4: #1eacc7;
$background-color_5: #fff;
